body {
    font-family: 'Open Sans', sans-serif;
}

.title {
    font-weight: 700;
    margin-left: 40px;
}

.card-title {
    margin-left: 40px;
}

p {
    margin-left: 20px;
    font-weight: 400;
}

@media (max-width: 768px) { 
    .card-img-top {
        height: 100px;
        width: 300px;
    }
}