body {
    font-family: 'Open Sans', sans-serif;
}

.title {
    font-weight: 700;
    margin-left: 40px;
}

.card-title {
    margin-left: 40px;
}

p {
    margin-left: 20px;
    font-weight: 400;
}

img {
    height: 100%;
    width: 100%;
}

@media (max-width: 768px) { 
    img {
        height: 100%;
        width: 100%;
        max-width: 320px;
    }
}