header {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	font-family: Helvetica;
	font-weight: bold;
}

.header__section {
	flex-direction: column;
	text-align: right;
}

.headerMyName {
	margin-top: 50px;
	margin-left: 50px;
	font-size: 55px;
}

.headerSiteName {
	font-size: 33px;
}

body {
	margin-top: 10px;
	font-family: Helvetica;
	font-weight: bold;
}

.desc {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	font-size: 20px;
}

.desc__en {
	text-align: right;
	margin-right: 20px;
	width: 500px;
}

.desc__ru {
	text-align: left;
	margin-left: 20px;
	width: 500px;
}

#stick {
	background-color: black;
}